body {
  background: lightcyan;
  font-family: Arial, Helvetica, sans-serif;

}

.first-line {
  display:flex;
  padding:10px;
}

.second-line {
  display:flex;
}

.post-number {
  color:grey;
  font-size:20px;
}
.post-title {
  margin-left:10px;
  font-size:20px;
}

.source {
  font-size:12px;
  color:grey;
  padding:5px;
}