body {
  background: lightcyan;
  font-family: Arial, Helvetica, sans-serif;

}

.first-line {
  display:flex;
  padding:10px 10px 0px;
}

.second-line {
  display:flex;
  color:grey;
  font-size:12px;
  margin-left:55px;
}

.post-number {
  color:grey;
  font-size:20px;
}
.post-title {
  margin-left:10px;
  font-size:20px;
}

.source {
  font-size:13px;
  color:grey;
  padding:5px;
}

.username, .time, .flag, .hide, .comments {
  padding-left: 8px;
}